{% block html_head_container %}

{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}

	<body class="{{body_class}}" data-template="base.twig">
		<header id="site-header" class="site-header">
			{% block header %}
				{% include 'header.twig' %}
			{% endblock %}
		</header>

		<section id="main-content" role="main" class="main-content">
			{% if title %}<h1>{{title}}</h1>{% endif %}
			<div class="{{sidebar_class}}">
				{% block content %}
					Sorry, no content
				{% endblock %}
			</div>
			{% if sidebar %}
				<aside class="sidebar">
					{{sidebar}}
				</aside>
			{% endif %}
		</section>

		{% block footer %}
			<footer id="site-footer" class="site-footer">
				{% include 'footer.twig' %}
			</footer>
			{{ function('wp_footer') }}
		{% endblock %}
	</body>
</html>
