<!doctype html>
<!--[if IE 8]><html class="no-js ie8 lt-ie9" {{site.language_attributes}}> <![endif]-->
<!--[if IE 9]><html class="no-js ie9" {{site.language_attributes}}> <![endif]-->
<!--[if gt IE 9]><!--><html class="no-js" {{site.language_attributes}}><!--<![endif]-->
<head>
    <meta charset="{{site.charset}}" />

    <title>{% if wp_title %}{{ wp_title }} | {{ site.name }}{% else %}{{ site.name }}{% endif %}</title>

    <meta name="description" content="{{site.description}}">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <!-- This bit of the uggliest code you've ever seen deals an icon font loading issue in IE8 -->
    <!--[if IE 8]>
        <style>html.ie-force-pseudo-refresh :before,html.ie-force-pseudo-refresh :after {content : none !important;}</style>
        <script>window.attachEvent&&!window.addEventListener&&window.attachEvent("onload",function(){var a=document.documentElement,b=a.className;a.className=b+" ie-force-pseudo-refresh",setTimeout(function(){a.className=b},10)});</script>
    <![endif]-->

    <link rel="shortcut icon" href="{{ function('bloginfo', 'template_directory') }}/images/favicon.ico?ver=2">
    <link rel="alternate" type="application/rss+xml" title="{{ function('bloginfo', 'name') }} Feed" href="{{ function('get_bloginfo', 'rss2_url') }}" />
    <link rel="pingback" href="{{ site.pingback_url }}" />

    {{function('wp_head')}}
